<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h5>Hello {{ name }}</h5><br>
<h4><a href="{{ password_reset_link }}">Click here</a> to reset your password.</h4>

</body>
</html>