<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<form action="{% url 'accounts:forgot_password' password_reset_key %}" method="post">
{% csrf_token %}
    Password       <input type="password" name="password" value=""><br><br>
    Repeat-Password<input type="password" name="repeat_password" value=""><br><br>
    <input type="reset" value="Reset">
    <input type="submit" value="Submit">
</form>
</body>
</html>