<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FanVault Registration</title>
</head>
<body>
<h5>Hi {{ name }}</h5><br>
<h5>Your registration is almost complete.</h5><br>
<h4><a href="{{ email_confirmation_url }}">Click here</a> to activate your account.</h4>

</body>
</html>